.logins {
    position: absolute;
        width: 60%;
        left: 50%;
        top: 50%;
        padding: 30px;
        background: #fff;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
.login-form-button {
    width: 100%;
}