.power-panels {
    .power-panel {
        width: 32%;
        float: left;
        background: #fff;
        padding: 20px;
        height: 300px;
    }
    .power-panel-left {
        margin-left: 2%;
    }
}

.manage-panels {
    .manage-tabs {
        li {
            width: 100px;
            float: left;
            margin-left: 10px;
            padding: 10px;
            border: 1px solid #eee;
            position: relative;
            span {
                position: absolute;
                width: 50px;
                padding: 4px 0;
                text-align: center;
                line-height: 1;
                right: 5px;
            }
        }
    }
}