.create-account {
    nav {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        p {
            border: 1px solid #eee;
            padding: 10px 30px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}